body {
    box-sizing: border-box;
    padding: 0;
    background-color: #ECF8FB;
}

.nav-home {


    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;


    position: sticky;
    top: 0;

    background: transparent;
    /* padding-left: 2rem; */
    padding-right: 2rem;



    padding-top: 0.7rem;
}

.button-parent {
    display: inline-flex;

}

.button-1 {
    display: flex;
}



.button-1 a.get {
    text-decoration: none;
    color: #142A54;
    font-weight: 700;
    font-size: 19px;
    background-color: #00FFFC;
    border: 2px solid #00FFFC;
    border-radius: 64px;
    padding: 12px 32px;
    transition: transform 0.4s ease !important;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease;
    display: inline-block;
}

a.get:hover {
    transform: translateY(-8px) !important;

    box-shadow: 0px 0px 8px 00FFFC;
}


a.sign-in {
    background-color: #00FFFC;
    text-decoration: none;
    color: #142A54;
    border: 1px solid #00FFFC;
    border-radius: 64px;
    margin-right: .5rem;
    font-weight: 700;
    font-size: 19px;
    padding: 13px 33px;
    display: inline-block;
    transition: transform 0.4s ease !important;



}



.sign-in:hover {

    transform: translateY(-5px);
}




.main-home {
    height: 110vh;
    background-image: url('./imgs/blending.svg');
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: right top;
    z-index: 2;




    padding-left: 2rem;
    align-items: center;






}

.main-home .first-head {

    font-style: normal;
    font-weight: 700;
    color: #142A54;
    font-size: 96px;
    line-height: 111px;
    /* letter-spacing: 4px; */
}

.main-home .first-p {


    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    color: #72809C;
    line-height: 0;
    margin-top: -1rem;
    padding-bottom: 1rem;

}

.main-home .main-home-content a {
    display: flex;
    text-decoration: none;
    text-align: center;
    align-items: center;
    justify-content: center;

    border-radius: 32px;
    color: #142A54;
    gap: 1rem;
    font-size: 24px;

}



.main-home .main-home-content a {
    width: 160px;
    padding: 14px;
    background-color: #00FFFC;
}

.main-home a img {
    display: inline-block;



}


/* ------------------------------------------second section started--------------------------------------------------------- */

.second-1 .triangle {
    position: absolute;

}

.second-1 .triangle img {
    position: relative;
    top: -14rem;
}

.second-1 .headtag {
    text-align: center;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 94px;
    color: #142A54;
}



.second-1 .boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 27vh;
    gap: 10rem;
}




.box {
    display: flex;
    align-items: center;
    padding: 0.6rem;
    background: #FFFFFF;
    border-radius: 10px;

    gap: 1.5rem;
}

.box .icon {
    font-size: 24px;
    margin-left: 1.5rem;
    ;

}

.box .text {
    font-size: 16px;
    font-weight: bold;
    width: 20rem;
}

.box .text h1 {
    color: #142A54;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 1.8rem;
    line-height:0rem;

    font-feature-settings: 'pnum' on, 'lnum' on;
}

.box .text p {
    color: #555555;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.35rem;
    font-feature-settings: 'pnum' on, 'lnum' on;
}




.second-1 .spaciality {

    background-image: url('./imgs/Blob\ Shape.svg');
    background-repeat: no-repeat;
    background-position: bottom right;

}